@font-face {
    font-family: 'Romanesco';
    src: url('../fonts/Romanesco-Regular.ttf') format('truetype'); /* Ajusta la ruta si es necesario */
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype'); /* Ajusta la ruta si es necesario */
    font-weight: normal;
    font-style: normal;
} 

/*align-items*/
.kv-align-items-center{align-items: center}

/*background*/
.kv-background-384001{background: #384001}
.kv-background-A3A656{background: #A3A656}
.kv-background-F2F6F6{background: #F2F6F6}
.kv-background-FFFFFF{background: #FFFFFF}
.kv-background-384001 :hover{background: #384001}

/*border*/
.kv-border-none{border: none}
.kv-border-11-384001{border: 11px solid #384001}
.kv-border-radius-50{border-radius: 50%}
.kv-border-radius-15px{border-radius: 15px}
.kv-border-radius-35px{border-radius: 35px}
.kv-border-radius-15-15-0-0px{border-radius: 15px 15px 0px 0px}

/*color*/
.kv-color-amarillo :hover {color: #FFFF00}
.kv-color-negro{color: #000000}
.kv-color-A3A656{color: #A3A656}
.kv-color-blanco{color: #FFFFFF}

/*display*/
.kv-display-flex{display: flex}
.kv-display-inline-block{display: inline-block}

/*font*/
.kv-font-family-LucidaSans{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
.kv-font-family-Inter{font-family: 'Inter'}
.kv-font-family-Romanesco{font-family: 'Romanesco'}
.kv-font-size-14{font-size: 14px}
.kv-font-size-16{font-size: 16px}
.kv-font-size-32{font-size: 32px}
.kv-font-size-96{font-size: 96px}
.kv-font-weight-600{font-weight: 600}
.kv-font-weight-bold{font-weight: bold}

/*flex*/
.kv-flex-direction-column{flex-direction: column}

/*gap*/
.kv-gap-10{gap: 10px}
.kv-gap-15{gap: 15px}
.kv-gap-20{gap: 20px}
.kv-gap-30{gap: 30px}
.kv-gap-40{gap: 40px}
.kv-gap-134{gap: 134px;}

/*height*/
.kv-height-auto{height: auto}
.kv-height-100{height: 100%}
.kv-height-50px{height: 50px}
.kv-height-70px{height: 70px}
.kv-height-97px{height: 97px}
.kv-height-100px{height: 100px}
.kv-height-226px{height: 226px}
.kv-height-233px{height: 233px}
.kv-height-770px{height: 770px}

/*justify*/
.kv-justify-content-space-between{justify-content: space-between}
.kv-justify-content-center{justify-content: center}

/*list*/
.kv-list-style-none{list-style: none}

/*left*/
.kv-left-190{left: 190px}

/*margin*/
.kv-margin-0-auto{margin: 0px auto}

/*object*/
.kv-object-fit-cover{object-fit: cover}

/*padding*/
.kv-padding-0-0{padding: 0px 0px}
.kv-padding-3-0{padding: 3px 0px}
.kv-padding-10-0{padding: 10px 0px}
.kv-padding-20-0{padding: 20px 0px}
.kv-padding-10-30{padding: 10px 30px}
.kv-padding-100-0{padding: 100px 0px}
.kv-padding-20-70{padding: 20px 70px}
.kv-padding-0-0-0-70{padding: 0px 0px 0px 70px;}
.kv-padding-left-10{padding-left: 10px} 
.kv-padding-left-40{padding-left: 40px} 
.kv-padding-left-50{padding-left: 50px} 
.kv-padding-left-70{padding-left: 70px} 
.kv-padding-right-10{padding-right: 10px}
.kv-padding-right-20{padding-right: 20px}
.kv-padding-top-5{padding-top: 5px}
.kv-padding-bottom-50{padding-bottom: 50px}
.kv-padding-bottom-60{padding-bottom: 60px}

/*position*/
.kv-position-absolute{position: absolute}

/*text*/
.kv-text-decoration-none{text-decoration: none}
.kv-text-transform-uppercase{text-transform: uppercase}
.kv-text-align-center{text-align: center}
.kv-text-align-left{text-align: left}

/*top*/
.kv-top-35{top: 35%}
.kv-top-55{top: 55%}

/*width*/
.kv-width-100{width: 100%}
.kv-width-218px{width: 218px}
.kv-width-233px{width: 233px}
.kv-width-295px{width: 295px}
.kv-width-300px{width: 300px}
.kv-width-500px{width: 500px}